.header-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__link-text:hover {
    text-decoration: underline;
  }

  &__basket, &__account {
    width: 5rem;
    border-radius: 50%;
    color: #000000;
  }
    

  &__container-basket, &__container-account {
    margin-left: 2.5rem;
    text-align: center;
    font-size: 5rem;
    font-weight: 100;

  }
}

