@use 'src/styles/vars' as v;
.header-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__link-text:hover {
    text-decoration: underline;
  }

  &__basket, &__account {
    width: 5rem;
    border-radius: 50%;
    background-color: transparent;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s;
    margin: 0 auto;

    &:hover {
      border: solid 1px v.$color-light-brown;
      color: v.$color-light-brown;
    }
  }

  &__cart { 
      position: absolute;
      font-size: 2rem;
      font-family: v.$font-paragraph;
      background-color:v.$color-light-green;
      border-radius: 50%;
      bottom: 2rem;
      right: 1.5rem;
      width: 2rem;
      height: 2rem;
  }

  &__container-basket, &__container-account {
    margin-left: 2.5rem;
    text-align: center;
    font-size: 5rem;
    font-weight: 100;
  }
}
  .header-icons__container-basket {
    position: relative;
}
