@use 'src/styles/vars' as v;

@media (max-width: 1060px) {
  .menu-burger {
    position: absolute;
    left: 0;
    top: 3.7rem;

    &__title {
      font-family: v.$font-title;
      font-size: 2.5rem;
      padding: 0.9rem;
      background-color: #ffffff;
      border-bottom: 0.2rem solid #b0afafe5;
    }

    &__list {
      display: flex;
      flex-direction: column;    
      z-index: 10;
    }

    &__item {
      background-color: #ffffff;
      font-family: v.$font-paragraph;
      padding: 0.9rem;
      font-size: 2rem;
      border-bottom: 0.2rem solid #b0afafe5;
    
      &--about-us {
        background-color: v.$color-beige;
      }
    }
  }
}
