@use 'src/styles/vars' as v;

.mySwiper0 {
  width: 70%;
  height: 100%;
}
.singleProduct {
  &__div {
  width: 55rem;
  margin: auto;
} 
  &__descriptionDiv {
    line-height: 3.5rem;
    margin-right: 20rem;
  }
  &__h2 {
    font-size: 3.5rem;
  }
  &__formatPrice {
    font-size: 2.5rem;
  }
  &__p {
    margin-top: 3rem;
    font-size: 2.2rem;
    line-height: 3rem;
    &--description {
      margin-top: 0;
      padding: 2rem;
    }
  }
  &__form {
    margin-top: 4rem;
  }

  &__h2, &__h2_description {
    font-family: v.$font-title;
    text-transform: uppercase;
    font-size: 3rem;
    background-color: transparent;
    border: none;
  } 
  &__h2_description:hover {
    border-bottom: solid 1px v.$color-green;
    color: v.$color-green;
  }
  &__h2--active {
    border-bottom: solid 0.5px v.$color-green;
   color: v.$color-green;
  }
  &__mainDescription {
    padding: 3rem 8rem;
    display: flex;
    flex-direction: column;
  }
  &__titles {
    display: flex;
    gap: 3rem;
  }

  &__articlesDiv {
    display: flex;
    flex-direction: column;
    // border: solid 1px v.$color-light-green;
    border-radius: 0.5rem;
  }
  &__input--number{
    width:5rem;
    height: 4rem;
    font-size: 1.9rem;
    padding-left: 1rem;
}
}
.slideContainer__SlidePresentation {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 5rem;
}
.singleProduct__swiper--2__slide, .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 50rem;
}

.singleProduct__swiper--img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
  object-fit: contain;
  /* width: auto; */
  max-width: 100%;
  width: 114%;
}

.singleProduct__swiper--2__slide {
  background-size: cover;
  background-position: center;
  width: 50rem;
}

.singleProduct__swiper--2 {
  height: 80%;
  width: 100%;
}

.singleProduct__swiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.singleProduct__swiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.singleProduct__swiper .swiper-slide-thumb-active {
  opacity: 1;
}

.singleProductContainer {
  display: flex;
}
.singleProduct__descriptionDiv {
  font-family: v.$font-paragraph;
}
.singleProduct__imgDiv, .singleProduct__descriptionDiv {
  flex: 1;
  width: 50%;
  height: 80rem;
}
.slideContainer {
  position: relative;
}
