@use 'src/styles/vars' as v;

.app {
  width: 100%;
}
main {
  margin: 5rem 0;
}
p {
  font-family: v.$font-paragraph;
  font-size: v.$font-size-p;
}
<<<<<<< HEAD


=======
>>>>>>> 685b4ba4ee85e8fa7328ca82739ec519bc38e6b3
