@use "src/styles/vars" as v;

.hr {
  margin: 5rem auto;
  width: 90%;
}

.aboutUs {
  &__section {
    margin: 10rem 0;
    height: auto;
  }
}

.valuesSection {
    display: flex;
    margin: 5rem 0;
    height: 40rem;
}

.articleA {
  display: flex;
  width: 25%;
  height: auto;
  &__originalText {
    &--title{
      font-size: v.$font-size-t;
      font-family: v.$font-title;
      color: beige;
      width: 100%;
      height: 100%;
      flex-direction: column-reverse;
      display: flex;
    }
    display: block;
    width: 100%;
    height: 100%;
    padding: v.$gutter;
    margin: 0 2rem;
    border-radius: 0.5rem;
    background-image: url(../../assets/imgs/valueA.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  &:hover{
    display: none;
    + .articleA__hoverText {
      display: block;
      width: 100%;
      height: 100%;
      font-size: 2.5rem;
      font-family: v.$font-paragraph;
      text-align: justify;
      padding: 2rem;
      margin: 0 2rem;
      border-radius: 0.5rem;
      background-color: rgba(239, 238, 238, 0.648);
      transition: ease-in-out 5ms;
    }
  }
}
  &__hoverText {
    display: none;
  }
}

.articleB {
  display: flex;
  width: 25%;
  height: auto;
  &__originalText {
    &--title{
      font-size: v.$font-size-t;
      font-family: v.$font-title;
      color: beige;
      width: 100%;
      height: 100%;
      flex-direction: column-reverse;
      display: flex;
    }
    display: block;
    width: 100%;
    height: 100%;
    font-size: v.$font-size-t;
    font-family: v.$font-title;
    padding: v.$gutter;
    margin: 0 2rem;
    border-radius: 0.5rem;
    background-image: url(../../assets/imgs/valueB.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  &:hover{
    display: none;
    + .articleB__hoverText {
      display: block;
      width: 100%;
      height: 100%;
      font-size: 2.5rem;
      font-family: v.$font-paragraph;
      text-align: justify;
      padding: 2rem;
      margin: 0 2rem;
      border-radius: 0.5rem;
      background-color: rgba(239, 238, 238, 0.648);
      transition: ease-in-out 5ms;
    }
  }
}
  &__hoverText {
    display: none;
  }
}

.articleC {
  display: flex;
  width: 25%;
  height: auto;
  &__originalText {
    &--title{
      font-size: v.$font-size-t;
      font-family: v.$font-title;
      color: beige;
      width: 100%;
      height: 100%;
      flex-direction: column-reverse;
      display: flex;
    }
    display: block;
    width: 100%;
    height: 100%;
    font-size: v.$font-size-t;
    font-family: v.$font-title;
    padding: v.$gutter;
    margin: 0 2rem;
    border-radius: 0.5rem;
    background-image: url(../../assets/imgs/valueC.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  &:hover{
    display: none;
    + .articleC__hoverText {
      display: block;
      width: 100%;
      height: 100%;
      font-size: 2.5rem;
      font-family: v.$font-paragraph;
      text-align: justify;
      padding: 2rem;
      margin: 0 2rem;
      border-radius: 0.5rem;
      background-color: rgba(239, 238, 238, 0.648);
      transition: ease-in-out 5ms;
    }
  }
}
  &__hoverText {
    display: none;
  }
}

.articleD {
  display: flex;
  width: 25%;
  height: auto;
  &__originalText {
    &--title{
      font-size: v.$font-size-t;
      font-family: v.$font-title;
      color: beige;
      width: 100%;
      height: 100%;
      flex-direction: column-reverse;
      display: flex;
      ;
    }
    display: block;
    width: 100%;
    height: 100%;
    font-size: v.$font-size-t;
    font-family: v.$font-title;
    padding: v.$gutter;
    margin: 0 2rem;
    border-radius: 0.5rem;
    background-image: url(../../assets/imgs/valueD.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  &:hover{
    display: none;
    + .articleD__hoverText {
      display: block;
      width: 100%;
      height: 100%;
      font-size: 2.5rem;
      font-family: v.$font-paragraph;
      text-align: justify;
      padding: 2rem;
      margin: 0 2rem;
      border-radius: 0.5rem;
      background-color: rgba(239, 238, 238, 0.648);
      transition: ease-in-out 5ms;
    }
  }
}
  &__hoverText {
    display: none;
  }
}
  

.aboutUsBloc {
  &__article {
    display: flex;
    justify-content: space-between;
    border-radius: 0.5rem;
  }
  &__article:hover{
    background-color: rgba(239, 238, 238, 0.648);
  }

  &__imgDiv {
    width: 50%;
  }
  &__img {
    max-width: 100%;
    height: 100%;
    width: 100%;
  }
  &__pDiv {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 0 4rem;
    padding: 2rem 0;
    text-align: justify;
  }
  &__p {
    font-size: v.$font-size-p;
    line-height: 3rem;
  }
  &__h3 {
    text-transform: uppercase;
    font-size: 3.7rem;
    font-family: v.$font-title;
    margin: 2rem 0 4rem;
  }
  &__p__link {
    font-size: 2rem;
    display: flex;
    line-height: 5rem;
    margin-top: 4rem;
  }
  &__arrow {
    font-size: 8rem;
  }
}

@media screen and (max-width : 1024px) {
  .aboutUs {
    &__section {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .aboutUsBloc {
    &__article {
      flex-direction: column;
      border: none;
      padding: 1rem 0;
      height: auto;
    }
    &__pDiv {
      width: 100%;
    }
    &__imgDiv {
      width: 100%;
    }
    &__article--mobile {
      flex-direction: column-reverse;
      text-align: right;
    }
    &__p {
      font-size: v.$font-size-p;
      line-height: 2.8rem;
     
    }
    &__h3 {
      font-size: 3rem;
    }
    &__p__link {
      font-size: 1.6rem;
      display: flex;
      margin-top: 2rem;
    }
    &__arrow {
      font-size: 6rem;
    }
  }
  
}

