@use 'src/styles/vars' as v;

.footer {
  width: 100%;
  height: 20vh;
  margin-top: 3rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  background-color: v.$color-brown;
  color: rgba(255, 255, 255, 0.9);

  h3 {
    font-size: 1.8rem;
    font-family: v.$font-paragraph;
  }

  p {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }

  &__contact-container {
    display: flex;
    flex-direction: column;
  }

  &__contact {
    display: flex;
    margin-bottom: 1rem;

    &-form {
      display: flex;
      flex-direction: column;
      margin-left: 1rem;
    }

    &-icon {
    font-size: 5rem;
    margin-right: 1rem;
    }
  }  

  &__legal {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
  }

  &__social-media-icon {
    font-size: 5rem;
    margin-top: 1rem;
    margin-right: 1.5rem;
  }
}

