@use 'src/styles/vars' as v;

.footer {
  width: 100%;
  height: 18vh;
  
  padding: 1rem;
  display: flex;
  background-color: v.$color-brown;
  color: rgba(255, 255, 255, 0.9);

  p {
    font-size: 1.3rem;
  }
    
  h3 {
    font-size: 1.8rem;
    font-family: v.$font-paragraph;
    margin: 0;
    display: block;
  }

  &__contact-container {
    display: flex;
  }

  &__social-media-icon {
    font-size: 5rem;
  }
}
