.header-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__basket, &__account {
    width: 5rem;
    border-radius: 50%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      background-color: black;
    }
  }
    

  &__container-basket, &__container-account {
    margin-left: 2.5rem;
    text-align: center;
    font-size: 5rem;
    font-weight: 100;

  }
}

