@use 'sass:color';
@use 'src/styles/vars';

h1 {
  font-family: vars.$font-title;
  font-size: vars.$font-size-t;
  margin-bottom: 5rem;
}

.delete {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  height: auto;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  padding: 2rem;
  font-family: vars.$font-paragraph;
  font-size: vars.$font-size-p;
}
