@use 'src/styles/vars' as v;

.nav-bar {
  width: 100%;
  margin-bottom: 2rem;

  &__list {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__item {
    display: block;
    height: 6rem;
    padding: 2rem 4rem;
    border-right: 0.2rem solid rgba(161, 155, 155, 0.561);
    
    &:hover {
      border-bottom: 0.5rem solid v.$color-brown;
      box-sizing: border-box;
      color: v.$color-brown;
      // font-weight: 600;
    }
  }

  &__item--first {
    border-left: 0.2rem solid rgba(161, 155, 155, 0.561);
  }

  &__link, &__under-link {
    font-size: 2rem;
    font-family: v.$font-paragraph;
  }

  &__item--about-us {
    position: relative;
  }

  &__under-list {
    display: none;
    position: absolute;
    left: 0;
    }
}

.nav-bar__item--about-us:hover > .nav-bar__under-list {
  display: block;
  margin-top: 2rem;
  z-index: 99;
}

.nav-bar__under-item {
  padding: 1.2rem;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: left;
  color: #000000e5;
  font-weight: 500;
  border-bottom: 0.2rem solid rgba(190, 189, 189, 0.466);

  &:hover {
    background-color: #f4f2f2e5;
    color: v.$color-brown;
    // font-weight: 600;
  }
}
