@use 'sass:color';
  
//Palette de couleurs
$color-beige: #f0ead2 ;
$color-light-green: #DDE5B6;
$color-green: #ADC178;
$color-light-brown: #A98467;
$color-brown: #6c584c;

// Police titre
$font-title: 'Abhaya-SemiBold';
// Taille titre
$font-size-t: 4.6rem;

// Police paragraphe
$font-paragraph: 'Glacial-Indifference'; 
// Taille de la police du paragraphe
$font-size-p: 1.8rem;

// padding boutton ???
$gutter: 1rem;

