@use 'src/styles/vars' as v;

.product-item {
  /* Ombre avec transition au survol */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 45vh;
  margin: 3rem;
  padding: 2rem;
  border-radius: 1rem;
    /* Ombre amplifée au survol */
    &:hover {
      box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
      background-color: rgba(239, 238, 238, 0.648);
    }

    img {
      width: auto;
      max-height: 30rem;
      border-radius: 1rem;
    }
}

.product-item__image {
  text-align: center;
}

.product-item__content h4 { 
      font-family: v.$font-title;
      font-size: 3rem;
      font-weight: bold;
      text-align: center;
      margin-top: 1.5rem;
}

.product-item__content p {
      margin-top: 0.9rem;
      line-height: 2.2rem;
} 



